In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

**DATA PREPARATION**

1.Training Data preparation

In [2]:
#reading the downloaded files(Gizette data set) from the local machine
f= open(r"C:\Users\Prasanna\Documents\IIT Hyderabad\Sem 1\ML\Assignment 2\gisette_train.data")
data=[]
for row in f.readlines():
    data.append((row.strip()).split(" "))
f.close()

f= open(r"C:\Users\Prasanna\Documents\IIT Hyderabad\Sem 1\ML\Assignment 2\gisette_train.labels")
classes=[]
for row in f.readlines():
    classes.append((row.strip()).split(" "))
f.close()

In [3]:
#conversion of list into numpy 2D array
data=np.array(data).astype(int)  #data represents the main train data excluding labels
classes= np.array(classes).astype(int) #classes represents labels
classes=classes[:,0]

In [4]:
data.shape, classes.shape

((6000, 5000), (6000,))

In [5]:
#Conversion of numpy 2D array to pandas data frame
gi_trdata=pd.DataFrame(data)
gi_trlabel=pd.DataFrame(classes)

In [6]:
gi_trdata

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,550,0,495,0,0,0,0,976,0,0,...,0,0,0,991,991,0,0,0,0,983
1,0,0,0,0,0,0,0,976,0,0,...,0,475,0,991,0,0,991,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,742,0,0,0,0,684,0,956,...,0,0,0,0,0,0,674,0,0,838
4,0,0,0,0,0,0,0,608,0,979,...,991,0,0,828,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,0,0,0,0,0,0,0,0,0,0,...,991,0,0,0,0,0,783,0,0,0
5996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,921,0,886,0
5997,0,0,0,0,0,758,0,0,0,522,...,0,901,0,0,0,0,980,0,0,0
5998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,690,0,0,0,0,0
5999,0,0,991,0,0,0,0,0,0,0,...,0,0,0,288,0,0,972,0,0,991

In [11]:
gi_trlabel.columns=['Label']
gi_trlabel

      Label
0         1
1        -1
2         1
3         1
4         1
...     ...
5995     -1
5996      1
5997     -1
5998     -1
5999     -1

[6000 rows x 1 columns]

2.Testing Data Preparation

In [8]:
f= open(r"C:\Users\Prasanna\Documents\IIT Hyderabad\Sem 1\ML\Assignment 2\gisette_valid.data")
tdata=[]
for row in f.readlines():
    tdata.append((row.strip()).split(" "))
f.close()

f= open(r"C:\Users\Prasanna\Documents\IIT Hyderabad\Sem 1\ML\Assignment 2\gisette_valid.labels")
tclasses=[]
for row in f.readlines():
    tclasses.append((row.strip()).split(" "))
f.close()

In [9]:
tdata=np.array(tdata).astype(int)
tclasses= np.array(tclasses).astype(int)
tclasses=tclasses[:,0]

In [10]:
tdata.shape,tclasses.shape

((1000, 5000), (1000,))

In [12]:
gi_testdata=pd.DataFrame(tdata)
gi_testlabel=pd.DataFrame(tclasses)

In [13]:
gi_testdata

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,688,0,0,0,0,0,0,952,0,870,...,0,0,0,0,0,0,494,0,769,0
1,778,758,0,0,0,0,0,708,0,991,...,0,0,0,770,0,0,0,0,0,0
2,469,0,816,0,0,0,0,0,0,0,...,0,0,0,467,0,0,0,417,0,0
3,0,0,0,0,0,571,991,983,0,983,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,949,0,991,...,0,0,0,0,0,0,0,0,976,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,511,0,0,0,0,0,0,0,0,...,991,0,0,852,0,0,0,0,0,0
996,0,0,599,0,0,0,0,910,0,0,...,0,0,0,0,0,0,0,0,0,707
997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,742
998,0,0,0,0,0,0,0,968,0,0,...,0,0,0,773,0,0,0,0,0,0
999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,952,0,0,0

In [14]:
gi_testlabel.columns=['Label']
gi_testlabel

     Label
0        1
1        1
2       -1
3        1
4        1
..     ...
995     -1
996      1
997      1
998     -1
999     -1

[1000 rows x 1 columns]

Hence train data, train labels, test data and test labels are prepared

**Qn 5a: Standard run**

In [15]:
from sklearn.svm import SVC
svm_model=SVC(kernel='linear')
svm_model.fit(gi_trdata,gi_trlabel.values.ravel())

SVC(kernel='linear')

Train Accuracy for linear kernel

In [17]:
svm_model.score(gi_trdata,gi_trlabel)

1.0

Test Accuracy for linear kernel

In [16]:
svm_model.score(gi_testdata,gi_testlabel)

0.976

**Train error for linear kernel**

In [18]:
1-svm_model.score(gi_trdata,gi_trlabel)

0.0

**Test error for linear kernel**

In [19]:
1-svm_model.score(gi_testdata,gi_testlabel)

0.02400000000000002

**Support Vectors for linear kernel**

In [20]:
sv=svm_model.support_vectors_
sv.shape[0]

1084

**Qn 5b-Kernel variations**

1. RBF with gamma=0.001

In [21]:
svm_model_rbf=SVC(kernel='rbf',gamma=0.001)
svm_model_rbf.fit(gi_trdata,gi_trlabel.values.ravel())

SVC(gamma=0.001)

Training error with RBF

In [22]:
1-svm_model_rbf.score(gi_trdata,gi_trlabel)

0.0

Testing error with RBF

In [23]:
1-svm_model_rbf.score(gi_testdata,gi_testlabel)

0.5

No. of support vectors

In [24]:
svrbf=svm_model_rbf.support_vectors_
svrbf.shape[0]

6000

2.Polynomial kernel with degree=2 and coef0=1

In [25]:
svm_model_poly=SVC(kernel='poly',degree=2,gamma=1, coef0=1)
svm_model_poly.fit(gi_trdata,gi_trlabel.values.ravel())

SVC(coef0=1, degree=2, gamma=1, kernel='poly')

Training error with polynomial kernel

In [26]:
1-svm_model_poly.score(gi_trdata,gi_trlabel)

0.0

Testing error with polynomial kernel

In [27]:
1-svm_model_poly.score(gi_testdata,gi_testlabel)

0.02100000000000002

No of support vectors with polynomial kernel

In [28]:
svpoly=svm_model_poly.support_vectors_
svpoly.shape[0]

1755